
.container-a {
    padding: 40px;
}

.container-a .block .desc {
    font-size: 16px;
    margin-bottom: 10px;
    color: var(--color-text-secondary);
}
.container-b {
    padding: 40px;
}

.container-b .block {
    background-color: var(--color-bg-primary);
    border: 1px solid var(--color-border-primary);
    border-radius: 6px;
}

.container-b .block .block-header {
    background-color: var(--color-bg-tertiary);
    border: 1px solid var(--color-border-primary);
    border-bottom-color: transparent;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    margin: -1px -1px 0;
    padding: 16px;
    display: flex;
}

.container-b .block .block-list {
    height: auto;
}

.container-b .dropdown{
    margin-left: 50px;
}